CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_luci-compat=y

# ota更新固件功能也可以后期安装
#CONFIG_PACKAGE_attendedsysupgrade-common=y
#CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
#CONFIG_PACKAGE_rpcd-mod-rpcsys=y

CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="ImmortalWrt"
CONFIG_VERSION_FILENAMES=y

# Image Options创建gpt分区文件设置软件包空间大小单位M
CONFIG_TARGET_ROOTFS_PARTSIZE=5120

# Boot Loaders 禁用无关的文件生成
CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr3=n
CONFIG_PACKAGE_trusted-firmware-a-mt7981-ram-ddr4=n
CONFIG_PACKAGE_trusted-firmware-a-mt7986-emmc-ddr4=n
CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr3=n
CONFIG_PACKAGE_trusted-firmware-a-mt7986-ram-ddr4=n
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-comb=n
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-ddr3=n
CONFIG_PACKAGE_trusted-firmware-a-mt7988-ram-ddr4=n

##---------下面配置可自行修改-------------

## 添加自己需要的插件
## 主题
CONFIG_PACKAGE_luci-theme-argon=y
#CONFIG_PACKAGE_luci-app-ttyd=y
## 外部软件源插件，oaf应用过滤，lucky大吉
#CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-wechatpush=y
